#main-container {
    display: flex;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;
    max-width: 550px;
    min-height: 80%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#bookcase {
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#add-book {
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 10;
    width: 50px;
    height: 25px;
}
body {
    background-image: url('assets/bookcase.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 5;
    background-color: white;
    width: 300px;
    max-width: 80%;
    height: 50%;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid black;
}
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body {
    padding: 10px 15px;
}
#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}